table {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  text-shadow: 0px 0px 0px #fff;
  background: #eaebec;
  border: #F4E1D6;
}

table th {

  border-bottom: 0px solid #F4E1D6;
  background: #ededed;
}

table tr {
  text-align: center;
}

table td:first-child {
  text-align: left;
}

table td {
  padding: 0px 14px;
  border-top: 1px solid #F4E1D6;
  border-bottom: 1px solid #F4E1D6;
  
  background: #f4e1d6;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa;), to(#fafafa;));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr:last-child td {
  border-bottom: 0;
}

table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f2f2f2));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}