body{
	margin: 0;
	padding: 0;
	background: #f3e1d5;
}
.container{
	text-align: center;
	}
.container1{
	padding-top: 15px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url(halbarber.jpg);
	text-align: center;
}
.btn{
	border: 1px solid #9d392b;
	background: black;
	padding: 10px 20px;
	width: 200px;
	border-radius: 24px;
	font-size: 20px;
	font-family: "montserrat";
	cursor: pointer;
	margin: 10px;
}
.btn1,.btn2{
	color: white;
}
.btn1:hover,.btn2:hover{
	color: #165593;
	border-radius: 24px;
}
.btn::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: #9d392b;
	transition: 0,8s;}
.content1
{
	text-align: center;
	padding-top: 50px; 
	height: 150px;
	width: 100%;
	background: #f3e1d5;
	font-family: calibri;
}
.content3
{
	height: 350px;
	width: 100%;
	background:#f3e1d5;
}

.table
{
	border-bottom: 2px solid blue;
 	width: 100%;
}
